// only style related to table
@import "../../layouts/global.var.scss";
.table {
  border-color: #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  width: 98%;
  margin: 0 auto;

  tr {
    width: 100%;
    &.diff {
      background-color: #d6e2e9;
    }
  }

  th {
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px 10px;
    vertical-align: bottom;
    color: $secondary-color;
    text-align: start;
    &:first-of-type {
      vertical-align: top;
      color: $primary-color;
    }
  }

  td {
    border-top: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
  }

  th,
  td {
    &:first-of-type {
      width: 22%;
      border-right: 1px solid #ccc;
    }
  }
}

// the product columns would be limited
// usually never exceed over 7 items
@for $i from 1 to 7 {
  .hide_c#{$i} {
    th,
    td {
      &:nth-of-type(#{$i}) {
        display: none;
      }
    }
  }
}
