@import "../../layouts/global.var.scss";
.tableHeader {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: 0;
  }
  img {
    margin-right: 5px;
  }
}
.primaryImg {
  height: 130px;
  width: 100%;
  object-fit: contain;
  margin: auto;
}
.price {
  color: $primary-color;
  font-size: 2em;
}

.subPrice {
  color: $grey-color;
  margin-top: 0;
}
